<div class="container">
  <div class="logo">
    <img src="../../../assets/img/logo.png" alt="Logo" />
  </div>
  <div class="doors">
    <div class="item">
      <div class="item-card blue" routerLink="/java">
        <h3>POO - Java</h3>
      </div>
      <div class="card" routerLink="/java"></div>
    </div>
    <div class="item">
      <div class="item-card green" routerLink="/estrutura-dados">
        <h3>Estrutura de Dados em C</h3>
      </div>
      <div class="card" routerLink="/estrutura-dados"></div>
    </div>
    <div class="item">
      <div class="item-card red" routerLink="/teste">
        <h3>Teste e Qualidade de Software</h3>
      </div>
      <div class="card" routerLink="/teste"></div>
    </div>
    <div class="item">
      <div class="item-card yellow" routerLink="/banco-dados">
        <h3>Banco de Dados - MongoDb</h3>
      </div>
      <div class="card" routerLink="/banco-dados"></div>
    </div>
  </div>
</div>
