<div class="container">
  <div class="card">
    <h2>Programação Orientada a Objetos - Java</h2>
    <p>Teste seus conhecimentos em Java!</p>
    <button routerLink="/java">Iniciar</button>
  </div>
  <div class="card">
    <h2>Estrutura de Dados em C</h2>
    <p>Aprenda estrutura de dados em C!</p>
    <button routerLink="/estrutura-dados">Iniciar</button>
  </div>
  <div class="card">
    <h2>Teste e Qualidade de Software</h2>
    <p>.</p>
    <button routerLink="/teste">Iniciar</button>
  </div>
  <div class="card">
    <h2>Banco de Dados - MongoDb</h2>
    <p>.</p>
    <button routerLink="/banco-dados">Iniciar</button>
  </div>
</div>




