* {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url("https://img.freepik.com/fotos-premium/vila-medieval-de-pixel-art-vila-de-casas-de-meia-idade-com-fundo-de-castelo-para-jogo-de-8-bits-ai_985124-967.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 100vh;
  background-color: #f2f2f2;
  flex-wrap: wrap;
}

.item {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.item-card {
  display: flex;
  align-items: center;
  color: yellow;
  flex-direction: column;
  justify-content: center;
}

.card {
  background-image: url("../../../assets/img/door.png");
  background-size: cover;
  background-position: center;
  width: 130px;
  height: 300px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

h2 {
  font-size: 24px;
  margin: 10px 0;
}

button {
  background-color: #5bc0de;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #3d3b50;
}
