<div class="container">
  <div class="item">
    <div class="item-card">
      <h2>POO - Java</h2>
      <p>Teste seus conhecimentos em Java!</p>
      <button routerLink="/java">Iniciar</button>
    </div>
    <div class="card"></div>
  </div>
  <div class="item">
    <div class="item-card">
      <h2>Estrutura de Dados em C</h2>
      <p>Aprenda estrutura de dados em C!</p>
      <button routerLink="/estrutura-dados">Iniciar</button>
    </div>
    <div class="card"></div>
  </div>
  <div class="item">
    <div class="item-card">
      <h2>Teste e Qualidade de Software</h2>
      <p>Aprenda mais sobre Testes</p>
      <button routerLink="/teste">Iniciar</button>
    </div>
  <div class="card">+</div>
  </div>
  <div class="item">
    <div class="item-card">
      <h2>Banco de Dados - MongoDb</h2>
      <p>Teste seus conhecimentos em Banco</p>
      <button routerLink="/banco-dados">Iniciar</button>
    </div>
  <div class="card"></div>
</div>
</div>




