* {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url("https://img.freepik.com/fotos-premium/vila-medieval-de-pixel-art-vila-de-casas-de-meia-idade-com-fundo-de-castelo-para-jogo-de-8-bits-ai_985124-967.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #f2f2f2;
  flex-wrap: wrap;
}

.logo {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 350px;
}

.doors {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.item {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.item-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 30px;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: #3b3b3b;
  min-width: 180px;
  transition: 0.3s;
}

.item-card:hover {
  background-color: #3d3b50;
  cursor: pointer;
}

.blue {
  color: rgb(114, 225, 245);
  border-top: 3px solid rgb(114, 225, 245);
}

.red {
  color: rgb(236, 109, 109);
  border-top: 3px solid rgb(236, 109, 109);
}

.green {
  color: rgb(114, 238, 124);
  border-top: 3px solid rgb(114, 238, 124);
}

.yellow {
  color: rgb(243, 232, 130);
  border-top: 3px solid rgb(243, 232, 130);
}

.card {
  background-image: url("../../../assets/img/door.png");
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 260px;
  height: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 3s;
  cursor: pointer;
}

.card:hover {
  background-image: url("../../../assets/img/door-open.png");
}

button {
  background-color: #5bc0de;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #3d3b50;
}
