<div class="quiz-container">
  <div *ngIf="!endQuiz">
    <h2>{{ question.question }}</h2>
    <ul>
      <li *ngFor="let option of question.options; let i = index">
        <button class="button-option" (click)="checkAnswer(option)">
          {{ generateAlphabetLetter(i)+')' }} {{ option.label }}
        </button>
      </li>
    </ul>
    <p class="score">Pontuação: {{ score }}</p>
    <div class="botoes">
      <button class="button-next" (click)="endQuestion()">Encerrar Perguntas</button>
    </div>
  </div>
  <div *ngIf="endQuiz">
    <p>Quiz concluído! Sua pontuação é {{ score }}</p>
    <button class="button-next" (click)="endQuestion()">Encerrar Perguntas</button>
  </div>
</div>
